
body{
    background-image: url(../img/Fondo.png);
    background-repeat: no-repeat;
    background-size: 150%;
    background-attachment: fixed;
}
header{
    background-image: url(../img/Logo.png);
    background-size: 9%;
    background-repeat: no-repeat;
    
    background-color: rgba(0,0,0,0.65);
    margin: 30px;
    padding: 30px;
    text-align: center;
    color: white;
    border-radius: 15px;
}

section{
      width: 400px;
      padding: 100px;
      margin: 0 auto;

}